.btnContainerHome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupBtnHome {
    // width: 0px;
    // height: 0px;
    background-color: #DC1B30;
    color: #FBD4D5;
    padding: 13px 15px;
    margin-top: 35px;
    border: none;
    border-radius: 2px;
    font-family: Gotham;
    font-size: 11px;
    opacity: 0.9;
    transition: 0.3s;
    
}

.signupBtnHome:hover {
    background-color: #E81029;
    opacity: 1;
}
