.phoneContainer {
    display: flex;
    justify-content: center;
    // margin: auto;
    flex-direction: row;
    // margin-top: 400px;
    // position: absolute;
    position: absolute;
    top: 230px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.galaxyPhone {
    width: 400px;
    // margin-left: 5px;
}

// .imageMovedUp {
//     margin-top: 600px;
//     // top: 400px;
// }

// .imageMovedDown {
//     margin-top: 200px;
//     // top: 200px;
// }
