.msgSignUp {
    display: inline;
    color: #4D0A11; 
}

.messageSignUp {
    margin-left: 40px;
    margin-top: 820px; 
}

.mainMsg {
    font-size: 45px;
    font-family: Montserrat;
}

.smallMsg {
    font-size: 19px;
    font-family: Montserrat-Light;
}