.msg {
    // font-size: 45px;
    // font-family: Montserrat;
    display: inline;
    color: #4D0A11;  
}


.message {
    // margin-top: 20px;

    p{
        font-size: 45px;
        font-family: Montserrat;

    } 
}
