.textBox {
    padding: 15px;
    width: 90%;
    background-color: #EBEBEB;
}

.formContainer {
    margin-top: 50px;
    margin-left: 40px;
    
    p {
        // margin-top: 10px;
        font-size: 20px;
        font-family: Montserrat-Light;
        text-align: left;
        margin: 10px 0 10px 0;
    }
}

form {
    display: flex;

}

.leftSide {
    flex: 4;
}

.rightSide {
    // align-content: flex-end;
    flex: 4;
}

.btnContainerSend {
    margin-top: 160px;
    // align-items: flex-start;
}

.sendBtn {
    background-color: #DC1B30;
    color: #FBD4D5;
    padding: 15px 45px;
    float: left;
    margin-top: 40px;
    // margin-left: -1330px;
    border: none;
    border-radius: 2px;
    font-family: Gotham;
    font-size: 18px;
    opacity: 0.9;
    transition: 0.3s;
}

.sendBtn:hover {
    background-color: #E81029;
    opacity: 1;
}

// @media only screen and (max-width: 1140px) and (min-width: 991px){
//     .sendBtn {
//         margin: 250px 0 0 -920px ;
//     }
// }

// @media only screen and (max-width: 991px) {
//     .sendBtn {
//         margin: 40px 0 0 0 ;
//     }
// }